/* Slide up animation styles */

.slideUp-enter {
    height: 0 !important;
}

.slideUp-enter-active {
    height: 100% !important;
    transition: all 300ms ease-in !important;
}

.slideUp-exit {
    height: 100% !important;
}

.slideUp-exit-active {
    height: 0 !important;
    transition: all 300ms ease-in !important;
}