.about-service-area {
    background: rgba(0, 0, 0, 0) url(../img/banner/30.jpg) no-repeat scroll center top / cover;
    padding-bottom: 86px;
    padding-top: 94px;
}

.single-about-service {
    margin-bottom: 63px
}

.about-service-icon {
    display: inline-table;
    float: left;
    height: 40px;
    margin-right: 9px;
    position: relative;
    width: 48px;
}

.about-service-icon>img {
    bottom: 0;
    position: absolute
}

.table-title {
    display: inline-table;
    height: 47px
}

.about-service-title h4 {
    color: #ffffff;
    display: table-cell;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 0;
    text-transform: uppercase;
    vertical-align: middle;
}

.about-service-title {
    margin-bottom: 16px;
    overflow: hidden;
}