.about-area {
    background: #edecec none repeat scroll 0 0;
    /* due to slider area adding at inexplicable 4px botton margin to the image */
    margin-top: -4px;
}

.about-area .section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-area .section-title,
.service-about-area .section-title {
    margin-bottom: 45px
}

.about-area .section-title h1,
.service-about-area .section-title h1 {
    margin-bottom: 0
}

.about-area .title-border::after {
    background: rgba(0, 0, 0, 0) url("../img/icon/title-icon-1.png") no-repeat scroll 0 0;
    bottom: -7px;
    margin-left: -32px;
    width: 64px;
}

.about-area .section-title h1:before,
.about-area .section-title h1:after {
    background: #54555D
}

.about-text h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    line-height: 24px;
    margin-bottom: 36px;
}

.about-text p {
    font-size: 16px;
    line-height: 30px;
}

.about-text>a {
    background: #212227 none repeat scroll 0 0;
    color: #ffffff;
    display: inline-block;
    font-size: 20px;
    line-height: 62px;
    margin-top: 24px;
    padding: 0 47px;
}

.about-text>a:hover {
    background: rgba(0, 0, 0, .7) none repeat scroll 0 0
}


/*  15.2 Service About Area
/*----------------------------------------*/

.service-about-area {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/banner/7.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 49% 100%;
    margin-bottom: 100px;
    margin-top: 100px;
}

.service-item {
    margin-top: 84px
}

.item-image {
    height: 50px;
    margin-bottom: 10px
}

.service-item>h4 {
    font-size: 13px;
    text-transform: uppercase
}

.single-service-two {
    padding-top: 60px
}

.service-about-area .section-title.title-two .title-border::after {
    bottom: 0;
}


/*----------------------------------------*/


/*  16.3 Home Three About Area
/*----------------------------------------*/

.about-area.about-area-three {
    background-image: url(../img/banner/12.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
    margin-top: 57px;
    padding-bottom: 49px;
    padding-top: 93px;
    position: relative;
}

.about-area.about-area-three::after {
    background: rgba(0, 0, 0, 0) url(../img/banner/transparent-3.png) no-repeat scroll center top / cover;
    content: "";
    height: 46px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.section-title.title-three h1 {
    padding-bottom: 46px
}

.section-title.title-three h1::after {
    display: none
}

.section-title.title-three h1::before {
    background: #ffe52d none repeat scroll 0 0;
    left: 0;
    margin-left: 0;
    width: 100%;
}

.section-title.title-three .title-border::after {
    background: rgba(0, 0, 0, 0) url(../img/icon/title3-icon-1.png) no-repeat scroll 0 0;
    bottom: 17px;
    margin-left: -20px;
    width: 40px;
}

.about-area .section-title.title-three .title-border::after {
    background: rgba(0, 0, 0, 0) url(../img/icon/title3-icon-1.png) no-repeat scroll 0 0;
    bottom: -1px;
}

.about-area .section-title.title-three {
    margin-bottom: 82px
}

.about-area-three .about-text>p {
    padding: 0 29px
}


/* Large desktop :1920px. */

@media (min-width: 1920px) {
    .about-area .section-padding {
        padding-bottom: 100px;
        padding-top: 100px;
    }
    .about-area.about-area-three::after {
        height: 63px
    }
    .about-area.about-area-three {
        padding-bottom: 0;
        padding-top: 60px;
    }
}


/* Normal desktop :992px. */

@media (min-width: 992px) and (max-width: 1169px) {
    .about-area .section-padding {
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .about-area .section-title,
    .service-about-area .section-title {
        margin-bottom: 20px
    }
    .service-about-area {
        margin-bottom: 80px;
        margin-top: 50px;
    }
}


/* Tablet desktop :768px. */

@media (min-width: 768px) and (max-width: 991px) {
    .about-area {
        background-size: 100% 100%
    }
    .about-area .section-padding {
        padding-bottom: 110px;
        padding-top: 110px;
    }
    .about-area.text-center.about-area-three {
        background: rgba(0, 192, 255, 0.4) none repeat scroll 0 0 !important;
        padding-top: 0;
    }
    .about-area.about-area-three .section-padding {
        padding-bottom: 50px
    }
    .about-area .section-title.title-three {
        margin-bottom: 45px
    }
    .service-about-area.text-center {
        background: #ffffff none repeat scroll 0 0;
        margin-top: 0;
        margin-bottom: 0;
    }
}