.advertise-area {
    background: rgba(0, 0, 0, 0) url(../img/banner/31.jpg) no-repeat scroll center center / cover;
    color: #ffffff;
    font-size: 30px;
    padding-bottom: 81px;
    padding-top: 84px;
}

.advertise-area a {
    color: #0967B9;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.3s ease-in 0s;
}

.advertise-area a:hover {
    color: #ffffff
}