.banner-content {
    height: 100%;
    position: relative
}

.banner-content h1,
.banner-content h2,
.banner-content h3 {
    text-transform: uppercase
}

.banner-content h1 {
    /* animation: 1500ms ease-in-out 0s normal none 1 running bounceInLeft; */
    font-size: 90px;
    font-weight: 700;
    margin-bottom: 14px;
    text-shadow: 0 5px 5px rgba(216, 216, 216, 0.75);
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slick-current .banner-content h1 {
    animation: 1500ms ease-in-out 0s normal none 1 running bounceInLeft;
    /* font-size: 90px;
    font-weight: 700;
    margin-bottom: 14px;
    text-shadow: 0 5px 5px rgba(216, 216, 216, 0.75);
    text-transform: uppercase; */
    opacity: 1;
}

.banner-content h2 {
    /* animation: 2000ms ease-in-out 0s normal none 1 running bounceInLeft; */
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 6px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slick-current .banner-content h2 {
    animation: 2000ms ease-in-out 0s normal none 1 running bounceInLeft;
    /* font-size: 40px;
    font-weight: 300;
    margin-bottom: 6px; */
    opacity: 1;
}

.banner-content h2 span {
    font-weight: 700
}

.banner-content h3 {
    /* animation: 2500ms ease-in-out 0s normal none 1 running bounceInLeft; */
    font-size: 20px;
    line-height: 1.8;
    margin-bottom: 10px;
    text-transform: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slick-current .banner-content h3 {
    animation: 2500ms ease-in-out 0s normal none 1 running bounceInLeft;
    /* font-size: 20px;
    line-height: 1.8;
    margin-bottom: 10px;
    text-transform: none; */
    opacity: 1;
}

.banner-content .banner-readmore {
    animation: 3000ms ease-in-out 0s normal none 1 running bounceInLeft;
    clear: both;
    display: inline-block;
    line-height: 41px;
}

.home-two-slider .banner-content h1 {
    font-size: 70px;
    line-height: 70px;
    margin: 0;
    text-shadow: none;
}

.home-two-slider .banner-content h1.title2 {
    margin-bottom: 22px
}

.home-two-slider .banner-content h2.sub-title span {
    color: #ffae00
}

.slider-three .banner-content h1 {
    font-size: 65px;
    margin-bottom: 20px;
    text-shadow: none;
}

.slider-three .banner-content h2 span {
    color: #00c0ff
}

.banner-area {
    background: rgba(0, 0, 0, 0) url("../img/banner/15.jpg") no-repeat scroll center top / cover;
    padding-bottom: 0;
    padding-top: 302px;
    position: relative;
}

.banner-area::before {
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.banner-area::after {
    background: rgba(0, 0, 0, 0) url("../img/banner/transparent-bottom.png") no-repeat scroll center top / cover;
    bottom: 0;
    content: "";
    height: 84px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.banner-area .section-title h1 {
    color: #ffffff;
    font-size: 30px;
}

.banner-area .title-border::after {
    background: rgba(0, 0, 0, 0) url("../img/icon/title-icon-3.png") no-repeat scroll 0 0
}

.banner-area .section-title h1::before,
.banner-area .section-title h1::after {
    background: #ffffff none repeat scroll 0 0
}

.breadcrumb {
    background: #dadada none repeat scroll 0 0;
    border-radius: 0;
    display: inline-block;
    height: 42px;
    margin: 60px auto 0;
    padding-top: 9px;
    position: relative;
    text-align: center;
    width: 235px;
    z-index: 9;
}

.breadcrumb li {
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    line-height: 13px;
    padding: 0 24px;
    text-transform: uppercase;
    position: relative
}

.breadcrumb>li a {
    font-weight: 300
}

.breadcrumb>li+li::before {
    display: none
}

.breadcrumb>li:first-child,
.breadcrumb.three>li:first-child {
    padding-left: 0
}

.breadcrumb>li:last-child,
.breadcrumb.three>li:last-child {
    padding-right: 0
}

.breadcrumb>li::after {
    background: #696969 none repeat scroll 0 0;
    content: "";
    height: 16px;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
}

.breadcrumb>li:last-child::after {
    display: none
}

.breadcrumb::before {
    background: #dadada none repeat scroll 0 0;
    content: "";
    height: 14px;
    left: 0;
    position: absolute;
    top: -6px;
    transform: rotate(-6deg);
    width: 119px;
}

.breadcrumb::after {
    background: #dadada none repeat scroll 0 0;
    content: "";
    height: 14px;
    position: absolute;
    right: 0;
    top: -6px;
    transform: rotate(6deg);
    width: 119px;
}

.grid-two {
    background: rgba(0, 0, 0, 0) url("../img/banner/16.jpg") no-repeat scroll center top / cover;
    padding-top: 314px;
    padding-bottom: 13px
}

.banner-area.grid-two::before,
.banner-area.list:before {
    display: none
}

.banner-area.grid-two::after {
    background: rgba(0, 0, 0, 0) url("../img/banner/transparent-2.png") no-repeat scroll center top / cover;
    height: 76px;
}

.adventures-grid.grid-two-tab .adventure-cat.box-small {
    height: 46px;
    line-height: 46px;
    margin: 1px 3px;
    width: 172px;
}

.grid-two .title-border::after {
    background: rgba(0, 0, 0, 0) url("../img/icon/title2-icon-2.png") no-repeat scroll 0 0;
    bottom: 17px;
}

.grid-two .section-title h1 {
    padding-bottom: 45px
}

.grid-two .breadcrumb {
    background: #181818 none repeat scroll 0 0;
    border-top: 2px solid #ffae00;
    margin: 29px auto 0;
}

.grid-two .breadcrumb li a:hover {
    color: #ffae00
}

.grid-two .breadcrumb li,
.grid-two .breadcrumb li a {
    color: #ffae00;
    font-weight: 300
}

.grid-two .breadcrumb li a {
    color: #fff
}

.grid-two .breadcrumb::after {
    background: #181818 none repeat scroll 0 0;
    bottom: -6px;
    content: "";
    height: 14px;
    left: 0;
    position: absolute;
    transform: rotate(6deg);
    width: 119px;
    right: auto;
    top: auto
}

.grid-two .breadcrumb::before {
    background: #181818 none repeat scroll 0 0;
    bottom: -6px;
    content: "";
    height: 14px;
    position: absolute;
    right: 0;
    transform: rotate(-6deg);
    width: 119px;
    left: auto;
    top: auto;
}

.banner-area.list {
    background: rgba(0, 0, 0, 0) url("../img/banner/13.jpg") no-repeat scroll center top / cover;
    padding-bottom: 149px;
    padding-top: 244px;
}

.banner-area.list::after {
    background: rgba(0, 0, 0, 0) url("../img/banner/transparent-3.png") no-repeat scroll center top / cover;
    height: 45px;
    transform: rotate(180deg);
}

.header-three.list .header-logo-menu {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0
}

.banner-area.list .section-title h1 {
    font-size: 40px
}

.banner-area.list .section-title h1 span {
    color: #ffffff
}

.banner-area.list .section-title h1::before,
.banner-area.list .section-title h1::after {
    background: #ffe52d none repeat scroll 0 0;
}

.breadcrumb.three {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    height: 47px;
    margin: 10px 0 0 5px;
    width: 245px;
}

.breadcrumb.three::before {
    background: rgba(24, 24, 24, 0.85) none repeat scroll 0 0;
    border: 1px solid #000000;
    height: 100%;
    transform: skewX(-22deg);
    width: 100%;
}

.breadcrumb.three::after {
    background: #00c0ff none repeat scroll 0 0;
    height: 100%;
    left: -5px;
    transform: skewX(-22deg);
    width: 5px;
}

.breadcrumb.three>li {
    color: #00c0ff
}

.breadcrumb.three>li a {
    color: #ffffff
}

.breadcrumb.three>li::after {
    background: #ffffff none repeat scroll 0 0
}

.breadcrumb.three>li {
    font-weight: 300;
    padding: 0 22px
}

.breadcrumb.three>li:hover a {
    color: #00c0ff
}

.banner-area.details-one {
    background: rgba(0, 0, 0, 0) url("../img/banner/18.jpg") no-repeat scroll center top / cover
}

.banner-area.details-one::before {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0
}

.banner-area.blog-one {
    background: rgba(0, 0, 0, 0) url("../img/banner/20.jpg") no-repeat scroll center top / cover;
    padding-top: 297px;
}

.blog-one .breadcrumb,
.blog-two .breadcrumb {
    margin: 50px auto 0
}

.banner-area.blog-two {
    background: rgba(0, 0, 0, 0) url("../img/banner/21.jpg") no-repeat scroll center top / cover;
    padding-top: 298px;
}

.banner-area.blog-two::before {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0
}

.banner-area.contact-banner,
.banner-area.about-banner {
    background: rgba(0, 0, 0, 0) url("../img/banner/22.jpg") no-repeat scroll center top /cover;
    padding-top: 292px;
}

.contact-banner .breadcrumb,
.about-banner .breadcrumb {
    margin: 46px auto 0
}

.breadcrumb li:hover a {
    color: #0967B9;
    font-weight: 600;
    transition: all 0.3s ease-in-out 0s;
}


/* Large desktop :1920px. */

@media (min-width: 1920px) {
    .banner-area {
        padding-top: 311px
    }
    .banner-area::after {
        height: 112px
    }
    .breadcrumb {
        margin: 72px auto 14px
    }
    .banner-area.grid-two::after {
        height: 109px
    }
    .banner-area.list {
        padding-bottom: 164px
    }
    .banner-area.list::after {
        height: 61px
    }
    .contact-banner .breadcrumb,
    .about-banner .breadcrumb,
    .banner-area.blog-one .breadcrumb,
    .banner-area.blog-two .breadcrumb,
    .banner-area.signin-banner .breadcrumb {
        margin: 58px auto 14px;
    }
    .banner-area.blog-one,
    .banner-area.blog-two {
        padding-top: 296px
    }
}


/* Normal desktop :992px. */

@media (min-width: 992px) and (max-width: 1169px) {
    .banner-content h1 {
        font-size: 80px;
        line-height: 70px;
    }
    .banner-content h2 {
        font-size: 30px
    }
    form#banner-searchbox {
        margin: 25px auto 0
    }
}


/* Tablet desktop :768px. */

@media (min-width: 768px) and (max-width: 991px) {
    .banner-content h1 {
        font-size: 80px
    }
    form#banner-searchbox {
        margin: 30px auto 0;
        width: 673px;
    }
    .banner-area.list {
        padding-top: 100px
    }
    .banner-area,
    .banner-area.contact-banner,
    .banner-area.about-banner,
    .banner-area.contact-banner,
    .banner-area.blog-one,
    .banner-area.blog-two,
    .banner-area.signin-banner {
        padding-top: 110px;
    }
}


/* small mobile :320px. */

@media (max-width: 767px) {
    .banner-content h1 {
        font-size: 28px;
        margin-bottom: 6px;
    }
    .banner-content h2 {
        font-size: 17px
    }
    .home-two-slider .banner-content h1 {
        font-size: 25px;
        line-height: 62px;
    }
    .slider-three .banner-content h1 {
        font-size: 23px;
        margin-bottom: 9px;
    }
    .banner-area,
    .banner-area.contact-banner,
    .banner-area.about-banner,
    .banner-area.contact-banner,
    .banner-area.blog-one,
    .banner-area.blog-two,
    .banner-area.signin-banner {
        padding-top: 55px;
    }
    .banner-area.list {
        padding-bottom: 130px;
        padding-top: 100px;
    }
}


/* Large Mobile :480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .banner-content h1 {
        font-size: 54px;
        margin-bottom: 13px;
    }
    .banner-content h2 {
        font-size: 35px
    }
    .home-two-slider .banner-content h1 {
        font-size: 46px
    }
    .slider-three .banner-content h1 {
        font-size: 43px
    }
    .slider-three .banner-content h2 {
        font-size: 35px
    }
}