.title-container h3 {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 21px;
    margin-bottom: 21px;
    text-transform: uppercase
}

.sell-text-container>p {
    font-size: 16px;
    line-height: 30px
}

.best-sell-two .sell-text-container>p,
.best-sell-three .sell-text-container>p {
    color: #2f2f2f;
}

.best-sell-link {
    /* display: inline-block; */
    float: right
}

.best-sell-link a {
    color: #bdc1c5;
    font-size: 20px;
    margin-left: 13px;
}


/* Normal desktop :992px. */

@media (min-width: 992px) and (max-width: 1169px) {
    .sell-text-container>p {
        font-size: 14px;
        line-height: 23px;
    }
    .sell-text-container>.button-one {
        line-height: 35px;
        margin-bottom: 26px;
        margin-top: 6px;
        padding: 0 33px;
    }
}