.best-sell-slider .col-md-3 {
    width: 100%
}

.best-sell-slider a {
    display: inline-block;
    margin-bottom: 40px;
    overflow: hidden;
}

.best-sell-slider .box-hover>a span {
    bottom: 0;
    color: #ffffff;
    content: "";
    font-size: 20px;
    font-weight: 300;
    height: 37px;
    left: 0;
    line-height: 32px;
    position: absolute;
    text-align: center;
    width: 134px;
    z-index: 2;
}

.best-sell-slider .box-hover>a span::after {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 37px;
    left: -8px;
    position: absolute;
    transform: skewX(-24deg);
    width: 134px;
    z-index: -1;
}

.best-sell-slider .slick-prev,
.best-sell-slider .slick-next {
    height: 30px;
    position: absolute;
    top: -60px;
    width: 30px;
}

.best-sell-slider .slick-prev {
    left: auto;
    right: 60px;
}

.best-sell-slider .slick-next {
    right: 20px;
}

.best-sell-slider .slick-prev::before,
.best-sell-slider .slick-next::before {
    color: #000000;
    font-family: FontAwesome;
    font-size: 30px;
    height: 30px;
    width: 30px;
    line-height: 30px;
}

.best-sell-slider .slick-prev::before {
    content: "\F104";
}

.best-sell-slider .slick-next::before {
    content: "\F105";
}

.best-sell-slider .slick-arrow:hover::before {
    border-color: #666;
    color: #666;
}