/*  24. Blog Deatils Page
/*----------------------------------------*/

.single-blog-post.blog-post-details .single-blog-post-text h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.single-blog-post-text>p.dark-bold {
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    line-height: 25px;
    margin-bottom: 26px;
    padding-top: 14px;
}

.blog-tags {
    font-size: 20px;
    line-height: 14px;
    text-transform: uppercase;
}

.blog-tags>a {
    font-size: 16px;
    font-weight: 300;
    text-transform: capitalize;
}

.blog-tags>a:hover {
    color: #0967B9
}

.blog-post-details .blog-button-links {
    margin-top: 52px;
    overflow: hidden
}

.blog-comments {
    border-top: 1px solid #e1e1e1;
    overflow: hidden;
    padding-top: 52px;
}

.single-blog-post.blog-post-details {
    margin-bottom: 57px
}

.blog-post-details .blog-links {
    margin-right: 4px
}

h4.blog-title {
    margin-bottom: 36px
}

.author-image {
    float: left;
    width: 100px
}

.comment-text {
    overflow: hidden
}

.author-info>h4 {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 14px;
    margin-bottom: 19px;
}

.author-info h4 a:hover {
    color: #0967B9
}

.comment-text>p {
    border-top: 1px dashed #bdc1c5;
    font-weight: 300;
    padding-top: 16px;
}

span.comment-time {
    border-right: 1px solid #2f2f2f;
    color: #5c5c5c;
    font-weight: 300;
    margin-right: 21px;
    padding-right: 21px;
}

.comment-time,
span.reply {
    float: right;
    line-height: 15px
}

span.reply a,
span.reply {
    color: #0967B9
}

span.reply a:hover {
    color: #000000
}

span.reply i {
    margin-right: 3px
}

.single-comment {
    margin-bottom: 48px;
    overflow: hidden;
}

.single-comment.comment-reply {
    padding-left: 100px
}

.leave-comment {
    margin-top: 37px
}

.comment-form label {
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 6px;
    position: relative;
    text-transform: capitalize;
}

.comment-form label.required::after {
    color: #ff0000;
    content: "*";
    position: absolute;
    right: -8px;
    top: 0;
}

.comment-form input[type="text"],
.comment-form input[type="email"] {
    border: 1px solid #bcbcbc;
    font-weight: 300;
    height: 43px;
    margin-bottom: 16px;
    padding: 0 10px;
    width: 100%;
}

.leave-comment h4.blog-title {
    margin-bottom: 32px
}

.comment-form textarea {
    border: 1px solid #bcbcbc;
    height: 213px;
    padding: 10px;
    resize: none;
    width: 100%;
}

.comment-btn {
    background: #212227 none repeat scroll 0 0;
    border: 0 none;
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    line-height: 43px;
    margin-top: 4px;
    padding: 0 41px;
    text-transform: uppercase;
    transition: all 0.3s ease-in 0s
}

.comment-btn:hover {
    background: #0967B9 none repeat scroll 0 0
}