.footer-widget-area {
    /* background: rgba(0, 0, 0, 0) url(../img/banner/footer-bg.jpg) no-repeat scroll center top / cover; */
    padding-top: 180px;
    padding-bottom: 100px;
    position: relative;
}

.footer-widget-area::before {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.footer-widget-area::after {
    background: rgba(0, 0, 0, 0) url(../img/banner/transparent.png) no-repeat scroll center top / cover;
    content: "";
    height: 64px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.single-footer-widget>h4 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.footer-widget-list li {
    color: #cccccc;
    display: block;
    line-height: 25px;
}

.single-footer-widget.contact-text-info li {
    margin-bottom: 32px
}

.single-footer-widget.contact-text-info li:last-child {
    margin-bottom: 0
}

.footer-widget-list li span.icon {
    display: inline-block;
    font-size: 20px;
    margin-right: 20px;
    width: 20px;
}

.footer-widget-area li.icon {
    padding-left: 40px;
    position: relative
}

.footer-widget-area li.icon:after {
    content: "";
    font-family: FontAwesome;
    font-size: 20px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 13px;
}

.footer-widget-area li.icon.send:after {
    content: "\f1d8"
}

.footer-widget-area li.icon.envelope:after {
    content: "\f0e0";
}

.footer-widget-area li.icon.phone:after {
    content: "\f095";
}

.footer-widget-list a {
    color: #cccccc;
    line-height: 30px;
    position: relative
}

.footer-widget-list li:hover a {
    color: #fff
}

.widget-lists>li {
    padding-left: 13px;
    position: relative
}

.widget-lists>li::after {
    content: "";
    font-family: FontAwesome;
    font-size: 14px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 13px;
    transition: all 0.3s ease 0s
}

.widget-lists li:hover::after {
    color: #fff
}

.footer-widget-list a i {
    padding-right: 8px
}

.footer-widget-list.twitter-news li {
    margin-bottom: 16px;
    padding-left: 38px;
    position: relative;
    line-height: 22px
}

.footer-widget-list.twitter-news li::after {
    content: "";
    font-family: FontAwesome;
    font-size: 33px;
    left: 0;
    position: absolute;
    top: 8px;
    width: 38px;
}

.footer-widget-list.twitter-news li a {
    color: #ffffff;
    line-height: 20px
}

.footer-widget-list.twitter-news li a:hover {
    color: #000
}

.footer-link a,
.details-social-link a {
    border: 1px solid #858585;
    color: #858585;
    display: inline-block;
    font-size: 30px;
    height: 47px;
    line-height: 44px;
    margin-right: 28px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 53px;
}

.footer-link>a:last-child {
    margin-right: 0
}

.footer-link,
.payment-image {
    padding-bottom: 100px;
    padding-top: 80px
}

.footer-link a:hover {
    border-color: #ffffff;
    color: #ffffff
}

.payment-image {
    float: right;
    padding-top: 85px
}

.newsletter-content input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #ffffff;
    line-height: 46px;
    padding: 0 20px;
    width: 100%;
}

.newsletter-content input::placeholder {
    color: white;
    opacity: 1;
    /* Firefox */
}

.newsletter-content input:-ms-input-placeholder {
    color: white;
    opacity: 1;
    /* Firefox */
}

.newsletter-content input::-ms-input-placeholder {
    color: white;
    opacity: 1;
    /* Firefox */
}

.newsletter-content button {
    background: #000000 none repeat scroll 0 0;
    border: 0 none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    line-height: 48px;
    margin: 0;
    padding: 0 34px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s
}

.newsletter-content button:hover {
    background: rgba(0, 0, 0, 0.5) none no-repeat scroll 0 0;
    color: #ffffff;
}

.newsletter-content input::placeholder,
.newsletter-content input::-moz-placeholder,
.newsletter-content input::-webkit-input-placeholder {
    opacity: 1;
    color: white
}


/* Large desktop :1920px. */

@media (min-width: 1920px) {
    .footer-widget-area::after {
        height: 90px
    }
    .footer-widget-area {
        padding-top: 207px;
        padding-bottom: 100px;
    }
    .newsletter-area {
        padding-bottom: 211px
    }
    .newsletter-area::after {
        height: 111px
    }
    .footer-widget-area.footer-widget-two {
        padding-top: 210px
    }
    .footer-widget-two.footer-widget-area::after {
        height: 110px
    }
}


/* Normal desktop :992px. */

@media (min-width: 992px) and (max-width: 1169px) {
    .newsletter-area {
        padding-bottom: 166px
    }
    .newsletter-area::after {
        height: 67px
    }
    .footer-widget-area.footer-widget-two {
        padding-top: 164px
    }
}


/* Tablet desktop :768px. */

@media (min-width: 768px) and (max-width: 991px) {
    .newsletter-area::after {
        height: 56px
    }
    .newsletter-content button {
        padding: 0 28px
    }
    .footer-widget-area::after {
        height: 46px
    }
    .footer-link>a {
        margin-right: 15px
    }
    .footer-widget-area.footer-widget-two {
        padding-top: 155px
    }
}


/* small mobile :320px. */

@media (max-width: 767px) {
    .newsletter-area {
        padding-bottom: 62px;
        padding-top: 30px;
    }
    .newsletter-area .section-title {
        margin-bottom: 20px
    }
    .newsletter-content .row .col-md-3 {
        margin: 20px auto 0;
        text-align: center;
    }
    .newsletter-area::after {
        height: 19px
    }
    .newsletter-content button {
        display: block;
        margin: 20px auto 0;
    }
    .footer-widget-area,
    .footer-widget-area.footer-widget-two,
    .footer-widget-area.footer-widget-three {
        padding-bottom: 60px;
        padding-top: 80px;
    }
    .footer-widget-area::after {
        height: 16px
    }
    .newsletter-area.newsletter-two {
        padding-bottom: 65px
    }
}


/* Large Mobile :480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .newsletter-area {
        padding-bottom: 82px
    }
    .newsletter-area::after {
        height: 43px
    }
    .footer-widget-area::after {
        height: 35px
    }
    .footer-widget-area,
    .footer-widget-area.footer-widget-two,
    .footer-widget-area.footer-widget-three {
        padding-bottom: 60px;
        padding-top: 115px;
    }
}