.footer-area {
    background: #15161a none repeat scroll 0 0;
    color: #ffffff;
    padding: 24px 0;
}

#footer-menu li {
    display: inline-block
}

#footer-menu a {
    color: #ffffff;
    margin-left: 19px;
    padding-left: 19px;
    position: relative;
    text-transform: uppercase;
}

#footer-menu>li:first-child a {
    margin-left: 0;
    padding-left: 0
}

#footer-menu {
    text-align: right
}

#footer-menu a::after {
    color: #ffffff;
    content: "/";
    left: -3px;
    position: absolute;
    top: 0;
}

#footer-menu li:first-child a::after {
    display: none
}

#footer-menu a:hover {
    color: #666666
}

.footer-area span a {
    color: #fff
}

.footer-area span a:hover {
    color: #666;
    border-bottom: 1px solid #444
}