.footer-widget-area {
    background: rgba(0, 0, 0, 0) url(../img/banner/footer-bg.jpg) no-repeat scroll center top / cover;
    padding-top: 180px;
    position: relative;
}

.footer-widget-area::before {
    background: rgba(33, 34, 39, 0.9) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.footer-widget-area::after {
    background: rgba(0, 0, 0, 0) url(../img/banner/transparent.png) no-repeat scroll center top / cover;
    content: "";
    height: 64px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.single-footer-widget>h4 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.footer-widget-list li {
    color: #cccccc;
    display: block;
    line-height: 25px;
}

.single-footer-widget.contact-text-info li {
    margin-bottom: 32px
}

.single-footer-widget.contact-text-info li:last-child {
    margin-bottom: 0
}

.footer-widget-list li span.icon {
    display: inline-block;
    font-size: 20px;
    margin-right: 20px;
    width: 20px;
}

.footer-widget-area li.icon {
    padding-left: 40px;
    position: relative
}

.footer-widget-area li.icon:after {
    content: "";
    font-family: FontAwesome;
    font-size: 20px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 13px;
}

.footer-widget-area li.icon.send:after {
    content: "\f1d8"
}

.footer-widget-area li.icon.envelope:after {
    content: "\f0e0";
}

.footer-widget-area li.icon.phone:after {
    content: "\f095";
}

.footer-widget-list a {
    color: #cccccc;
    line-height: 30px;
    position: relative
}

.footer-widget-list li:hover a {
    color: #fff
}

.widget-lists>li {
    padding-left: 13px;
    position: relative
}

.widget-lists>li::after {
    content: "";
    font-family: FontAwesome;
    font-size: 14px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 13px;
    transition: all 0.3s ease 0s
}

.widget-lists li:hover::after {
    color: #fff
}

.footer-widget-list a i {
    padding-right: 8px
}

.footer-widget-list.twitter-news li {
    margin-bottom: 16px;
    padding-left: 38px;
    position: relative;
    line-height: 22px
}

.footer-widget-list.twitter-news li::after {
    content: "";
    font-family: FontAwesome;
    font-size: 33px;
    left: 0;
    position: absolute;
    top: 8px;
    width: 38px;
}

.footer-widget-list.twitter-news li a {
    color: #ffffff;
    line-height: 20px
}

.footer-widget-list.twitter-news li a:hover {
    color: #000
}

.footer-link a,
.details-social-link a {
    border: 1px solid #858585;
    color: #858585;
    display: inline-block;
    font-size: 30px;
    height: 47px;
    line-height: 44px;
    margin-right: 28px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 53px;
}

.footer-link>a:last-child {
    margin-right: 0
}

.footer-link,
.payment-image {
    padding-bottom: 100px;
    padding-top: 80px
}

.footer-link a:hover {
    border-color: #ffffff;
    color: #ffffff
}

.payment-image {
    float: right;
    padding-top: 85px
}

.newsletter-content input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #ffffff;
    color: #ffffff;
    line-height: 46px;
    opacity: 1;
    padding: 0 20px;
    width: 100%;
}

.newsletter-content button {
    background: #000000 none repeat scroll 0 0;
    border: 0 none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    line-height: 48px;
    margin: 0;
    padding: 0 34px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s
}

.newsletter-content button:hover {
    background: rgba(0, 0, 0, 0.5) none no-repeat scroll 0 0;
    color: #ffffff;
}

.newsletter-content input::placeholder,
.newsletter-content input::-moz-placeholder,
.newsletter-content input::-webkit-input-placeholder {
    opacity: 1;
    color: white
}

.footer-widget-area {
    background: url(../img/footer/midlands-min.jpg) no-repeat scroll center top / cover !important;
}