.fun-factor-area {
    background: rgba(0, 0, 0, 0) url(../img/banner/3.jpg) no-repeat scroll center top / cover;
    margin-top: 100px;
    padding-bottom: 177px;
    padding-top: 100px;
    position: relative;
}

.fun-factor-area::before,
.newsletter-area::before,
.footer-widget-area::before {
    background: rgba(0, 0, 0, 0.75) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.fun-factor-area::after {
    background: rgba(0, 0, 0, 0) url(../img/banner/transparent.png) no-repeat scroll center top / cover;
    bottom: -26px;
    content: "";
    height: 91px;
    left: 0;
    position: absolute;
    transform: rotate(180deg);
    width: 100%;
}

.fun-factor-area .section-title h1 {
    margin-bottom: 0
}

.fun-factor-area .title-border::after,
.partner-area .title-border::after {
    bottom: -7px
}

.single-fun-factor {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    border-top: 1px solid #000000;
    height: 161px;
    position: relative;
    width: 170px;
}

.single-fun-factor::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.5);
    border-image: none;
    border-style: solid;
    border-width: 5px 42.5px;
    bottom: -10px;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
}

.single-fun-factor::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-image: none;
    border-style: solid;
    border-width: 5px 42.5px;
    bottom: -10px;
    content: "";
    height: 0;
    position: absolute;
    right: 0;
    width: 0;
}

.single-fun-factor:hover::before {
    border-color: #000000 rgba(0, 0, 0, 1) rgba(0, 0, 0, 1) #000000;
    border-width: 5px 43px
}

.single-fun-factor:hover::after {
    border-color: #000000 #000000 rgba(0, 0, 0, 1) rgba(0, 0, 0, 1);
    border-width: 5px 43px
}

.single-fun-factor:hover {
    background: #000000 none repeat scroll 0 0;
}

.fun-border-left {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 170px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1px;
}

.fun-border-left::after {
    background: #000 none repeat scroll 0 0;
    bottom: -37px;
    content: "";
    height: 50%;
    left: 42px;
    position: absolute;
    transform: rotate(83deg);
    width: 1px;
}

.fun-border-right {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 170px;
    right: 0;
    position: absolute;
    top: 0;
    width: 1px;
}

.fun-border-right::after {
    background: #000000 none repeat scroll 0 0;
    bottom: -37px;
    content: "";
    height: 50%;
    position: absolute;
    right: 42px;
    transform: rotate(97deg);
    width: 1px;
}

.single-fun-factor>img {
    margin-bottom: 16px;
    margin-top: 28px
}

.single-fun-factor h4,
.single-fun-factor h5 {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
}

.single-fun-factor h4 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 7px;
}

.single-fun-factor h5 {
    font-size: 16px;
    font-weight: 300
}