/*  16.1 Home Three Header
/*----------------------------------------*/

.header-three .logo-menu-bg {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.header-three .header-logo-menu {
    border-bottom: 1px solid #e9e9e9;
    border-top: 1px solid #e9e9e9;
}

.header-three .logo {
    margin-left: 1px;
    padding: 13px 0
}

.header-three .mainmenu ul#nav li a {
    line-height: 78px
}

.button-blue {
    background: #00C0FF none repeat scroll 0 0 !important
}

.button-blue:hover {
    background: rgba(0, 192, 255, 0.8) none repeat scroll 0 0 !important
}

.header-three .header-top {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    padding: 5px 0;
}

.header-three .currency-menu>ul>li>a,
.header-three .language-menu>ul>li>a,
.header-three .header-r-cart>li>a,
.header-three .login>a,
.header-three .account>a,
.header-three .login a::after,
.header-three .account a::after {
    color: #ffffff;
}

.header-three .currency-menu>ul>li a:hover,
.header-three .language-menu>ul>li a:hover,
.header-three .header-r-cart li:hover>a,
.header-three .login a:hover,
.header-three .account a:hover {
    color: #00C0FF !important
}

header.header-three {
    top: 10px
}


/*----------------------------------------*/


/*  16.2 Home Three Slider
/*----------------------------------------*/

.slider-three .preview-2 .nivo-directionNav a {
    top: 58.5%;
}


/*----------------------------------------*/


/*  16.2.1 Home Three Slider Text
/*----------------------------------------*/

.slider-area.slider-three .text-content {
    left: 15px;
    margin-top: 32.5%;
    max-width: 100%;
    right: auto;
}


/*----------------------------------------*/


/*  16.2.2 Home Three Slider Icon
/*----------------------------------------*/

.slider-three .slider-icon-container {
    margin-top: 45%
}

.single-icon-three {
    background: rgba(0, 192, 255, 0.5) none repeat scroll 0 0;
    border-top: 1px solid #00c0ff;
    height: 130px;
    margin: 20px auto 0;
    position: relative;
    text-align: center;
    width: 150px;
}

.single-icon-three::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(0, 192, 255, 0.5) rgba(0, 192, 255, 0.5) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-image: none;
    border-style: solid;
    border-width: 5px 76.5px;
    bottom: -10px;
    content: "";
    height: 0;
    position: absolute;
    right: 0;
    width: 0;
}

.icon-border-left {
    background: #00c0ff none repeat scroll 0 0;
    content: "";
    height: 129px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1px;
}

.icon-border-left::after {
    background: #00c0ff none repeat scroll 0 0;
    bottom: -79px;
    content: "";
    height: 150px;
    left: 75px;
    position: absolute;
    transform: rotate(94deg);
    width: 1.25px;
}

.icon-border-right {
    background: #00c0ff none repeat scroll 0 0;
    content: "";
    height: 139px;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
}

.single-icon-three>img {
    margin: 26px auto 20px;
    position: inherit;
}

.single-icon-three h5 {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
}

.single-icon-three.rotate-bg-icon {
    margin-top: 32px
}

.single-icon-three.rotate-bg-icon {
    border-bottom: 1px solid #00c0ff;
    border-top: 0 none;
}

.rotate-bg-icon .icon-border-left::after {
    bottom: auto;
    left: 74px;
    top: -70px;
    transform: rotate(94deg);
}

.rotate-bg-icon .icon-border-right {
    height: 129px
}

.single-icon-three.rotate-bg-icon::after {
    left: 1px;
    top: -10px;
    transform: rotate(180deg);
}

.rotate-bg-icon .icon-border-left {
    height: 139px;
    top: -10px
}

.single-icon-three:hover {
    background: #000000 none repeat scroll 0 0;
    border-color: #000000
}

.single-icon-three:hover::after {
    border-color: #000000 #000000 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0)
}

.single-icon-three:hover .icon-border-left,
.single-icon-three:hover .icon-border-left::after,
.single-icon-three:hover .icon-border-right {
    background: #000000 none repeat scroll 0 0
}


/*----------------------------------------*/


/*----------------------------------------*/


/*  16.4 Home Three Portfolio Area
/*----------------------------------------*/

.best-sell-three .best-sell-link>a:hover,
.blog-three-area .blog-link>a:hover,
.footer-widget-three .widget-lists li:hover::after,
.footer-widget-three .widget-lists li:hover a,
.footer-widget-three .footer-widget-list.twitter-news li a,
.footer-three #footer-menu a:hover {
    color: #00c0ff;
}

.portfolio-three .single-portfolio:hover .portfolio-text::after,
.team-three .single-member:hover .member-text.effect-bottom::after {
    background: rgba(0, 192, 255, 0.9) none repeat scroll 0 0;
}


/*----------------------------------------*/


/*  16.5 Home Three Fun Factor Area
/*----------------------------------------*/

.fun-factor-area.fun-factor-three::before {
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0
}

.fun-factor-area.fun-factor-three::after {
    background: rgba(0, 0, 0, 0) url(../img/banner/transparent-3.png) no-repeat scroll center top / cover;
}

.fun-factor-three .section-title.title-three .title-border::after,
.partner-three-area .section-title.title-three .title-border::after {
    bottom: 0;
}

.fun-factor-area.fun-factor-three {
    background: rgba(0, 0, 0, 0) url(../img/banner/13.jpg) no-repeat scroll center top / cover;
    padding-bottom: 175px;
}

.fun-factor-three .single-fun-factor {
    background: rgba(0, 192, 255, 0.5) none repeat scroll 0 0;
    border-top: 1px solid #00c0ff;
}

.fun-factor-three .single-icon-three {
    height: 160px;
    width: 170px;
}

.fun-factor-three .icon-border-left {
    height: 159px
}

.fun-factor-three .icon-border-left::after {
    bottom: -89px;
    height: 170px;
    left: 85px;
    width: 1px;
}

.fun-factor-three .icon-border-right {
    height: 169px
}

.fun-factor-three .single-icon-three>h4 {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    margin-bottom: 7px;
    text-transform: uppercase;
}

.fun-factor-three .single-icon-three h5 {
    font-size: 16px;
    font-weight: 300
}

.fun-factor-three .single-icon-three>img {
    margin: 24px auto 16px
}

.fun-factor-three .section-title {
    margin-bottom: 60px
}

.fun-factor-three .single-icon-three:hover::after {
    border-color: #ffffff #ffffff #ffffff #ffffff
}

.fun-factor-three .single-icon-three:hover::after {
    border-color: #fff #fff #fff #fff;
    border-width: 5px 85.5px;
}

.fun-factor-three .single-icon-three:hover {
    background: #ffffff none repeat scroll 0 0;
    border-color: #ffffff;
}

.fun-factor-three .single-icon-three:hover .icon-border-left,
.fun-factor-three .single-icon-three:hover .icon-border-right,
.fun-factor-three .single-icon-three:hover .icon-border-left::after {
    background: #fff
}

.fun-factor-three .single-icon-three:hover h4,
.fun-factor-three .single-icon-three:hover h5 {
    color: #00c0ff
}


/*----------------------------------------*/


/*  16.6 Home Three Best Sell Area
/*----------------------------------------*/

.best-sell-three .carousel-style-one .owl-controls .owl-buttons div:hover::after {
    border-color: #00C0FF
}

.best-sell-three .carousel-style-one .owl-controls .owl-buttons div:hover i {
    color: #00C0FF
}

.best-sell-three .best-sell-slider .box-hover>a span {
    padding: 0 24px 0 10px;
    width: auto;
}

.best-sell-slider .box-hover>a span::after {
    width: 100%
}


/*----------------------------------------*/


/*  16.7 Home Three Newsletter Area
/*----------------------------------------*/

.newsletter-area.newsletter-three {
    background: #ecebeb url(../img/banner/25.jpg) no-repeat scroll center top / cover;
    padding-bottom: 143px;
}

.newsletter-area.newsletter-three::before {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.newsletter-area.newsletter-three::after {
    background: rgba(0, 0, 0, 0) url(../img/banner/transparent-3-gray.png) no-repeat scroll center top / cover;
    height: 47px;
}

.newsletter-three .newsletter-content input {
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
    color: #7f8484;
}


/*----------------------------------------*/


/*  16.8 Home Three Blog Area
/*----------------------------------------*/

.blog-three-area .blog-text {
    background: #00c0ff none repeat scroll 0 0;
    color: #fff
}

.blog-three-area .blog-text h4 a {
    color: #fff
}

.blog-three-area .blog-text h4 a:hover {
    color: #FFD400
}

.blog-three-area .button-one {
    background: #ffd400 none repeat scroll 0 0
}

.blog-three-area .blog-link>a {
    color: #ffffff
}

.blog-three-area .blog-link>a:hover {
    color: #ffd400
}

.blog-three-area .blog-text {
    border-color: #ffd400
}

.blog-three-area .button-one:hover {
    color: #00c0ff
}

.blog-three-area .date-time {
    top: 0
}

.blog-three-area .date-time .month::after {
    background: #ffd400 none repeat scroll 0 0
}

.blog-three-area .date-time .month {
    background: #ffd400 none repeat scroll 0 0
}

.blog-three-area .date-time .date::after {
    background: #00c0ff none repeat scroll 0 0
}

.blog-three-area .date-time .date {
    background: #00c0ff none repeat scroll 0 0;
    color: #ffffff;
}

.blog-three-area .blog-text::before {
    background: #00c0ff none repeat scroll 0 0;
    content: "";
    height: 26px;
    left: -13px;
    margin-top: -13px;
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
    width: 26px;
}


/*----------------------------------------*/


/*  16.9 Home Three Footer
/*----------------------------------------*/

.footer-area.footer-three span a:hover,
.footer-widget-three .footer-link a:hover {
    border-color: #00c0ff;
    color: #00c0ff;
}

.footer-widget-area.footer-widget-three {
    background: rgba(0, 0, 0, 0) url(../img/banner/14.jpg) no-repeat scroll center top / cover;
    padding-top: 144px;
}

.footer-widget-area.footer-widget-three::before {
    background: rgba(33, 34, 39, 0.8) none repeat scroll 0 0;
}

.footer-widget-area.footer-widget-three::after {
    background: rgba(0, 0, 0, 0) url(../img/banner/transparent-3.png) no-repeat scroll center top / cover;
    height: 45px;
}