.mobile-menu-area {
    background: #fff;
    display: none
}

.mean-container .mean-bar::after {
    display: none
}

.mean-container .mean-nav ul li a:hover {
    color: #000;
    background: none
}

.mean-container a.meanmenu-reveal span {
    background: #4e4f54
}

.mean-container .mean-nav ul li a {
    background: #ffffff none repeat scroll 0 0;
    color: #4e4f54;
    display: block;
}

.mean-container .mean-nav ul li a.mean-expand {
    background: none;
    /* top: -4px; */
}

.mean-container .mean-nav ul li a.mean-expand:hover {
    background: none
}

.mean-container .mean-nav ul li {
    background: transparent
}

.mean-container .mean-nav ul li li a {
    color: #4e4f54;
    opacity: .90;
    border-top: 0;
}

.mean-container a.meanmenu-reveal {
    color: #444
}

.meanmenu-reveal.meanclose:hover {
    color: #000 !important
}

.mean-container a.meanmenu-reveal:hover span {
    background: #000
}

.mobile-menu-area .mean-nav {
    background: #fff none repeat scroll 0 0
}

.mean-last {
    margin-bottom: 20px
}

.mobile-menu {
    position: relative
}

.mean-container .mean-bar::before {
    color: #4e4f54;
    content: "MENU";
    font-size: 18px;
    font-weight: 600;
    left: 0;
    position: absolute;
    top: 13px;
}


/* Tablet desktop :768px. */

@media (min-width: 768px) and (max-width: 991px) {
    .mobile-menu-area {
        display: block
    }
}


/* small mobile :320px. */

@media (max-width: 767px) {
    .mobile-menu-area {
        display: block
    }
}


/* Large Mobile :480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .mobile-menu-area {
        display: block
    }
}