.skills-area .section-title {
    margin-bottom: 62px
}

.single-skill-item {
    height: 122px
}

.single-skill-item:hover .single-skill-icon,
.single-skill-item:hover .single-skill-icon::after,
.single-skill-item:hover .single-skill-icon::before,
.single-skill-item:hover .skill-border-left,
.single-skill-item:hover .skill-border-right {
    background: #000000 none repeat scroll 0 0;
    border-color: #000000;
}

.single-skill-item:hover .skill-border-left::after,
.single-skill-item:hover .skill-border-right::after {
    background: #000000 none repeat scroll 0 0;
    bottom: -32px;
    transform: rotate(90deg);
}

.single-skill-item:hover .skill-border-right::after {
    transform: rotate(-90deg);
}

.single-skill-item:hover .single-skill-icon::after {
    border-width: 6px 63.5px;
}

.secondary-img,
.single-skill-item:hover img.primary-img {
    display: none;
}

.single-skill-item:hover img.secondary-img {
    display: inline-block;
    text-align: center;
}

.single-about-service>p {
    color: #ffffff;
    font-weight: 300;
    line-height: 25px;
}

.single-skill-icon {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: #bcbcbc;
    border-top: 1px solid #000000;
    float: left;
    height: 109px;
    position: relative;
    text-align: center;
    width: 128px;
}

.skill-border-left::after {
    background: #bcbcbc none repeat scroll 0 0;
    bottom: -28px;
    content: "";
    height: 65px;
    left: 33px;
    position: absolute;
    transform: rotate(83deg);
    width: 1px;
}

.skill-border-right {
    content: "";
    right: 0;
    position: absolute;
    top: 0;
    width: 1px;
}

.skill-border-left {
    content: "";
    left: 0;
    position: absolute;
    top: 0;
    width: 1px;
}

.skill-border-left,
.skill-border-right {
    background: #bcbcbc none repeat scroll 0 0;
    height: 119.5px;
}

.skill-border-right::after {
    background: #bcbcbc none repeat scroll 0 0;
    bottom: -28px;
    content: "";
    height: 65px;
    position: absolute;
    right: 33px;
    transform: rotate(97deg);
    width: 1px;
}

.single-skill-icon::before {
    border-color: #0967B9 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #0967B9;
    border-image: none;
    border-style: solid;
    border-width: 6px 56.5px;
    bottom: -11px;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
}

.single-skill-icon::after {
    border-color: #0967B9 #0967B9 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-image: none;
    border-style: solid;
    border-width: 6px 51.5px;
    bottom: -11px;
    content: "";
    height: 0;
    position: absolute;
    right: 1px;
    width: 0;
}

.skill-bg {
    background: #0967B9 none repeat scroll 0 0;
    bottom: 0;
    height: 82%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.low .skill-bg {
    height: 63%
}

.medium .skill-bg {
    height: 76%
}

.single-skill-icon>img {
    bottom: 20px;
    left: 50%;
    margin-left: -30px;
    position: absolute;
    z-index: 99;
}

.single-skill-text {
    display: inline-block;
    margin-left: 20px;
    padding-top: 28px;
}

.single-skill-text>h4,
.single-skill-text h3 {
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 3px;
    text-transform: uppercase;
}

.single-skill-text>h3 {
    font-size: 35px
}