.nivo-directionNav {
    opacity: 0;
    transition: all 0.3s ease-in 0s
}

.slider-area:hover .nivo-directionNav {
    opacity: 1
}

.slider-area .text-content {
    margin-top: 20.2%;
    max-width: 80%;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 0;
}

form#banner-searchbox {
    margin-top: 52px;
    width: 673px
}

.adventure-cat,
.blog-archive {
    background: rgba(0, 0, 0, 0) url(../img/icon/select-bg-one.png) no-repeat scroll 0 0;
    cursor: pointer;
    float: left;
    height: 46px;
    line-height: 46px;
    padding: 0;
    text-transform: capitalize;
    width: 172px;
}

.adventure-cat.destination {
    background: rgba(0, 0, 0, 0) url(../img/icon/select-bg-two.png) no-repeat scroll 0 0;
    margin-left: 30px;
    width: 269px;
}

.search-adventure,
.blog-archive .archive {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: rgba(0, 0, 0, 0) none no-repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    color: #ffffff;
    cursor: pointer;
    height: 44px;
    line-height: 44px;
    outline: medium none;
    overflow: hidden;
    padding: 0 10px;
    transition-duration: 0.4s;
    transition-property: height;
    width: 100%;
    z-index: 9999;
}

.search-adventure option,
.archive option {
    background: #ffffff none repeat scroll 0 0;
    color: #000000;
    line-height: 22px;
    padding: 4px 15px;
}

button#btn-search-category {
    background: #000000 none repeat scroll 0 0;
    border: 0 none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    line-height: 45px;
    padding: 0 47px;
    margin-top: 30px;
    transition: all 0.3s ease 0s
}

button#btn-search-category:hover {
    background: rgba(0, 0, 0, 0.5) none no-repeat scroll 0 0;
    color: #ffffff;
}

.slider-area .slick-prev {
    left: 5%;
    /* so that it can be visible within slide */
    z-index: 1;
}

.slider-area .slick-next {
    right: 5%;
}

.slider-area .slick-prev,
.slider-area .slick-next {
    opacity: 0;
    transition: all 0.3s ease-in 0s;
    width: 40px;
    height: 40px;
}

.slider-area .slick-prev::before {
    content: "\F104";
}

.slider-area .slick-next::before {
    content: "\F105";
}

.slider-area .slick-prev::before,
.slider-area .slick-next::before {
    color: #e1e1e0;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 67px;
    height: 40px;
    line-height: 40px;
    opacity: 1;
    text-align: center;
    width: 40px;
}

.slider-area .slick-arrow:hover::before {
    border-color: #666;
    color: #666;
}

.slider-area .slick-slider:hover .slick-prev,
.slider-area .slick-slider:hover .slick-next {
    opacity: 1 !important;
}

.slick-slider .slick-slide {
    position: relative;
}


/* Large desktop :1920px. */

@media (min-width: 1920px) {
    .slider-area .text-content {
        margin-top: 31.5%
    }
    .slider-area.home-two-slider .text-content {
        margin-top: 38.5%
    }
    .slider-area.slider-three .text-content {
        margin-top: 52.7%
    }
    .slider-three .slider-icon-container {
        margin-top: 83.5%
    }
    .preview-2 .nivo-directionNav a {
        top: 57%
    }
    .slider-three .preview-2 .nivo-directionNav a.nivo-prevNav {
        top: 55%
    }
}


/* Normal desktop :992px. */

@media (min-width: 992px) and (max-width: 1169px) {
    .slider-area .text-content {
        margin-top: 23.2%
    }
    form#banner-searchbox {
        margin: 25px auto 0
    }
    button#btn-search-category {
        margin-top: 24px
    }
    .slider-three .slider-icon-container {
        margin-top: 64%;
    }
}


/* Tablet desktop :768px. */

@media (min-width: 768px) and (max-width: 991px) {
    .slider-area .text-content {
        left: 0;
        margin-top: 6%;
        max-width: 100%;
        position: absolute;
        right: 0;
    }
    form#banner-searchbox {
        margin: 30px auto 0;
        width: 673px;
    }
    .slider-area.home-two-slider .text-content {
        margin-top: 8%
    }
    .slider-area.slider-three .text-content {
        left: 0;
        margin-top: 9.5%;
        right: 0;
    }
    .preview-2 .nivo-directionNav a {
        top: 49%
    }
}


/* small mobile :320px. */

@media (max-width: 767px) {
    .slider-area .text-content,
    .slider-area.slider-three .text-content {
        left: 0;
        margin-top: 11%;
        max-width: 100%;
        right: 0;
    }
    .slider-area.home-two-slider .text-content {
        margin-top: 9%
    }
}


/* Large Mobile :480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .slider-area .text-content,
    .slider-area.slider-three .text-content {
        margin-top: 21%
    }
    .slider-area.home-two-slider .text-content {
        margin-top: 28%
    }
}