.single-member:hover .member-text a:hover,
.single-member:hover .member-text .member-link a:hover {
    color: #000000;
}

.single-member {
    overflow: hidden;
    position: relative
}

.member-text {
    background: transparent;
    height: auto;
    left: 0;
    padding: 5px 12px;
    position: absolute;
    top: 0;
    width: 100%;
    transition: all 0.3s ease-in-out 0s
}

.member-text::after {
    background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
    content: "";
    height: 135px;
    left: -7px;
    opacity: 1;
    position: absolute;
    top: -76px;
    transform: rotate(4deg) scale(1.1);
    transform-origin: 0 bottom 0;
    width: 100%;
}

.member-text>p {
    display: none;
    font-size: 13px;
    margin-bottom: 8px;
}

.member-text p,
.member-text h4 a,
.member-text .member-link a {
    z-index: 9;
    position: relative
}

.member-link>a {
    color: #4e4f54;
    display: inline-block;
    margin-right: 9px;
}

.single-member:hover .member-text p {
    display: block;
    margin-bottom: 5px;
}

.single-member:hover .member-text::after {
    background: rgba(33, 34, 39, 0.9) none repeat scroll 0 0;
    left: -8px;
    top: -23px;
}

.single-member:hover .member-text p,
.single-member:hover .member-text h4 a,
.single-member:hover .member-text .member-link a {
    color: #fff
}

.member-text.effect-bottom {
    bottom: 0;
    top: auto;
}

.member-text.effect-bottom::after {
    bottom: -70px;
    left: -11px;
    opacity: 1;
    top: auto;
}

.single-member:hover .member-text.effect-bottom::after {
    background: rgba(33, 34, 39, 0.9) none repeat scroll 0 0;
    left: -11px;
    top: -5px;
}

.single-member:hover .member-text {
    animation: 1500ms ease-in-out 0s normal none 1 running flipInX;
}

.single-member {
    border: 3px solid hsl(0, 0%, 88%);
}

.member-text.effect-bottom::after {
    bottom: -40px;
    top: auto;
}

.member-text h4 a {
    font-size: 20px
}

.member-text h4 a span {
    font-weight: 300
}

.member-text h4 a {
    font-weight: 600
}

.single-member:hover .member-text p {
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 20px
}

.member-link>a {
    font-size: 20px
}

.member-link {
    margin-bottom: 13px
}

.member-text.effect-bottom::after {
    transform: rotate(5.5deg) scale(1.1);
    transform-origin: 0 bottom 0;
    bottom: -30px;
    top: auto;
    left: -17px
}

.single-member:hover .member-text.effect-bottom::after {
    background: rgba(33, 34, 39, 0.9) none repeat scroll 0 0;
    left: -31px;
    top: 38px;
    transform: rotate(7.5deg) scale(1.75);
}


/*----------------------------------------*/


/*  15.3 Home Two Portfolio Area
/*----------------------------------------*/

.team-two .single-member:hover .member-text.effect-bottom::after {
    background: rgba(255, 174, 0, 0.9) none repeat scroll 0 0;
}


/*----------------------------------------*/


/*  16.4 Home Three Portfolio Area
/*----------------------------------------*/

.team-three .single-member:hover .member-text.effect-bottom::after {
    background: rgba(0, 192, 255, 0.9) none repeat scroll 0 0;
}


/* Large desktop :1920px. */

@media (min-width: 1920px) {
    .contact-form {
        background-size: 40% 100%
    }
    .fun-factor-area {
        padding-bottom: 200px
    }
    .fun-factor-area::after {
        bottom: 0
    }
    .fun-factor-area::after {
        height: 108px
    }
    .fun-factor-area.fun-factor-three {
        padding-bottom: 197px
    }
    .fun-factor-area.fun-factor-three::after {
        height: 63px
    }
    .error-area {
        background-size: 48.5% 100%;
        padding-bottom: 127px;
        padding-top: 206px;
    }
    .blog-two-text-container {
        padding-bottom: 41px
    }
    .contact-container {
        padding-left: 18.76%
    }
    .contact-us-form::after {
        left: 87%;
        transform: skewX(-12deg);
        width: 185px;
    }
}


/* Normal desktop :992px. */

@media (min-width: 992px) and (max-width: 1169px) {
    .single-member:hover .member-text::after {
        top: -3px
    }
    .member-text h4 a {
        font-size: 18px
    }
    .single-member:hover .member-text.effect-bottom::after {
        top: 62px
    }
}


/* Tablet desktop :768px. */

@media (min-width: 768px) and (max-width: 991px) {
    .single-member:hover .member-text::after {
        top: -3px
    }
    .single-member:hover .member-text.effect-bottom::after {
        top: 65px
    }
}


/* small mobile :320px. */

@media (max-width: 767px) {
    .single-member {
        margin-bottom: 20px
    }
    .single-member:hover .member-text.effect-bottom::after {
        top: 66px
    }
    .member-text h4 a {
        font-size: 17px
    }
}


/* Large Mobile :480px. */