/*  17. Shop Grid No Sidebar Page
/*----------------------------------------*/

.adventures-grid form#banner-searchbox {
    margin-bottom: 40px;
    margin-top: 0px;
    overflow: hidden;
    width: auto;
}

.adventures-grid .adventure-cat,
.blog-archive {
    background: rgba(0, 0, 0, 0) url(../img/icon/select-bg-three.png) no-repeat scroll right 1px;
    border: 1px solid #bcbcbc;
    height: 44px;
    position: relative;
    width: 100%;
}

.adventures-grid .adventure-cat::after,
.blog-archive::after {
    background: #bcbcbc none repeat scroll 0 0;
    content: "";
    height: 100%;
    position: absolute;
    right: 32px;
    top: 0;
    width: 1px;
}

.adventures-grid .search-adventure,
.blog-archive .archive {
    color: #4e4e4e
}

.adventure-tab .nav {
    border: 0 none !important
}

.adventure-tab {
    float: right
}

.grid-two-tab .adventure-cat {
    float: right
}

.adventure-tab .nav>li>a.list-view,
.adventure-tab .nav>li>a.grid-view {
    background: rgba(0, 0, 0, 0) url(../img/icon/list.png) no-repeat scroll 0 0;
    border-color: rgba(0, 0, 0, 0) !important;
    float: left;
    font-size: 0;
    height: 48px;
    margin-left: 9px;
    padding: 0;
    position: relative;
    width: 47px;
    margin-right: 0
}

.adventure-tab a.grid-view {
    background: url(../img/icon/grid.png) no-repeat scroll 0 0 !important
}

.adventure-view a.active.list-view,
.adventure-view a.list-view:hover {
    background: rgba(0, 0, 0, 0) url(../img/icon/list-hover.png) no-repeat scroll 0 0;
}

.adventure-view a.active.grid-view,
.adventure-view a.grid-view:hover {
    background: url(../img/icon/grid-hover.png) no-repeat scroll 0 0;
}

.adventure-tab li a.grid-view:hover:after,
.adventure-tab li.active a.grid-view:after,
.adventure-tab li a.list-view:hover:after,
.adventure-tab li.active a.list-view:after {
    background: url(../img/icon/grid-hover.png) no-repeat scroll 0 0 !important;
    height: 46px;
    width: 46px;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}

.adventure-tab li a.list-view:hover:after,
.adventure-tab li.active a.list-view:after {
    background: url(../img/icon/list-hover.png) no-repeat scroll 0 0 !important;
    height: 46px;
    width: 46px;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}

.pagination {
    border-radius: 0;
    display: block;
    margin: 0;
    text-align: center;
}

.pagination li {
    border: 1px solid #c1c1c1;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    margin: 0 3px;
    text-align: center;
    vertical-align: middle;
    width: 36px;
}

.pagination li:first-child {
    margin-left: 0
}

.pagination li a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    color: #181818;
    display: inline-block;
    float: none;
    font-size: 14px;
    padding: 4.5px 10px;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    background: transparent
}

.pagination li.current {
    background: #0967B9 none repeat scroll 0 0;
    border-color: #0967B9;
    margin: 0 5px;
    transform: skewX(-4.8deg);
}

.pagination li.current a,
.pagination li.current:hover a {
    color: #fff
}

.pagination li:hover a {
    color: #0967B9;
    background: transparent
}

.pagination li a i {
    font-size: 16px
}